<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ufersa.qwater">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReportDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AnalyzeReportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SaveReportActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".activities.ListSourcesActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".info_activities.CoherenceActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".info_activities.SalinityActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".info_activities.SarActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".info_activities.ToxityActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".info_activities.PhActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".info_activities.AboutActivity"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".activities.SourceDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
